body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
    
    
}

.navbar {
    display: flex;
    
}

.navbar-esquerdo {
    height: 8vh;
    width: 18vw;
     background-color: rgba(255, 255, 255, 0.911);
     display: flex;
     align-items: center;
     justify-content: center;
    
     
}

.navbar-esquerdo:hover {
    background-color: #ECF0F5;
}

.logo span {
    font-size: 20px;
    color:black;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-esquerdo button {
    height: 8vh;
    background-color: white;
    border: 0;
    
}

.pushmenu {
    max-width: 100%;
    max-height: 100%;
    
}

.navbar-direito {
    height: 8vh;
    width: 82vw;
    background-color: rgba(255, 255, 255, 0.986);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar-direito button {
    width: 50px;
    height: 8vh;
    background-color: white;
    border: 0;

}

.button {
    max-height: 50%;
    max-width: 50%;
}

.navbar-direito button:hover{
    background-color: #ECF0F5;
}

.user {
height: 8vh;
display: flex;
align-items: center;
width: 15vw;
justify-content: center;
margin-right: 0;

}
.user:hover {

    background-color: #ECF0F5;
}
.user-t {
    max-height: 50%;
    border-radius: 20px;
    margin-right: 15px;
    
    
    

}

.name {
    color:black;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 100vw;
    background-color: #ECF0F5;
    max-width:100%;
    display: flex;
    flex-direction: row;
    
}

.container-central {
    height: 100vh;
    width: 82vw;
    display: flex;
    justify-content: space-between;
    background-color: #ECF0F5;

}



.lateral-esquerdo {
    height: 100vh;
    width: 18vw;
    background-color: #222D32;
    max-width:100%;

}

.user-r {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.usuario {
    display: flex;
    align-items: center;
}

.name-r {
    font-size: 15px;
    color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.online {
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.bolinha {
    width: 10px;
    height: 10px;
    background-color: rgb(29, 212, 59);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;

}

.usuario {
    
    width: 23vw;
    height: 100px;
}

.menu {
    width: 18vw;
    height: 40px;
    background-color: #1A2226;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Options {
    width: 18vw;
    height: 40px;
    background-color: #1E282C;
    display: flex;
    align-items: center;
    
}


.masc {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 30px;
    border: 0;
    margin-left: 20px;
}

.Options  button {
    color: white;
    margin-left: 10px;
    background-color: #1E282C ;
    border: 0;
    cursor: pointer;
    width: 18vw;
    
}

.barra-lateral {
    height: 40px;
    width: 4px;
    background-color: rgb(63, 190, 46);
 
}

.table-r {
    height: 50vh;
    width: 55vw;
    background-color: #ECF0F5;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table {
    width: 90%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    
}

.para {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.para  h5{
    margin-top: 30px;
    margin-left: 20px;
}


.table{

    border-collapse: collapse;
    max-width: 100%;
    max-width: 100%;
    border: solid 1px #222D32;
    
}

.table thead {
    background-color: #222D32;
    color: white;
}

.azul {
    background-color: rgb(30, 100, 192);
    border: 0;
    color: white;
}


.vermelho {
    background-color: rgb(196, 30, 80);
    border: 0;
    color: white;
}


.container-direito {
    background-color: #ECF0F5;
    width: 25vw;
    height: 70vh;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
   overflow: hidden;
    
}

.usuarios-div {
    background-color: #ECF0F5;
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div1 {
background-color: rgb(64, 201, 87);
width: 8vw;
height: 14vh;
color: white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
max-height: 100%;

}

.div2 {
    background-color: rgb(230, 162, 17);
    width: 8vw;
    height: 14vh;
    color: white;
    border-radius: 20px;
    display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
max-height: 100%;
text-decoration: solid;
overflow: auto;

    
}

.div1  span {
    font-size: 40px;
   
    text-align: center;
}

.div2  span {
    font-size: 40px;
    
    text-align: center;
    overflow: auto;
    
}

.linha {
    width: 25vw;
    height: 1vh;
    background-color: #222D32;
}

.newuser {
    font-size: 20px;
    margin: 0;
    
}

.inputtext {
    margin-top: 0;
}

.container-direito form {
    margin-top: 30px;
   
}


.submit {
    background-color:#222D32; 
    
    color: white;
}

.novosuser {
    width: 10vw;
    height: 5vh;
    background-color: #20df50;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    
}

.administradores {
    width: 10vw;
    height: 5vh;
    background-color: #1E282C;
    margin-left: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
    
    
}


.contadores {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    
}


